
<%- include('partials/header')%>
    <%- include("partials/nav")%>
    <div class="flex items-center justify-center w-[full] h-[full] flex-col">
        <h1 class="text-blue-700 text-6xl mt-[10px]"><%=title%></h1>
        <p class="text-blue-900 text-4xl mt-[10px]">Welcome to <%=title%>, Here you can track your expenses.</p>
    </div>
    
<%- include('partials/footer')%>