
<%- include("partials/header")%> <%- include("partials/nav")%>



<div class="flex justify-center items-center">
    <div class="flex flex-col w-[680px] justify-between items-center">
        <h1 class="text-blue-700 text-6xl mt-[10px] mb-[40px]"><%=title%></h1>

        <div class="profile mb-8">
            <img
                class="avatar-preview w-[15vh] h-[15vh] rounded-full object-cover object-center"
                src="/images/<%= user.avatar%>"
                alt=""
            />
            <form class="hidden avatar-form" action="/user/avatar" method="post" enctype="multipart/form-data">
                <input type="file" name="avatar" />
            </form>
        </div>


    <form action="/user/update" method="post" class="flex flex-col justify-center items-start w-[450px] gap-[20px] h-[280px]">

        <div>
            <label class="text-xl mr-4">Enter New Username:</label>
            <input class="p-[5px] border-b-2 text-xl " type="text" name="username" placeholder="Username" value="<%= user.username%>">
        </div>
        
        <div>
            <label class="text-xl mr-4">Enter New Email:</label>
            <input class="p-[5px] border-b-2 text-xl " type="email" name="email" placeholder="john@doe.com" value="<%= user.email%>">
        </div>




        <button class="p-[10px] bg-blue-700 rounded-xl hover:bg-blue-900 text-white text-xl">Update Profile</button>

        <div class="mt-7 flex gap-x-4">
            <a class="p-[10px] bg-yellow-500 rounded-xl hover:bg-yellow-700 text-white text-xl" href="/user/reset-password">Reset Password</a>
            <a class="p-[10px] bg-red-600 rounded-xl hover:bg-red-900 text-white text-xl" href="/user/delete-account">Delete Account</a>
        </div>

        

        
        
    </form>
    </div>
</div>

            <script>
                const avatarPreview = document.querySelector(".avatar-preview");
                const avatarForm = document.querySelector(".avatar-form");
                const avatarInput = document.querySelector(".avatar-form input");
                avatarPreview.addEventListener("click", () => {
                    avatarInput.click();
                });
                avatarInput.addEventListener("change", () => {
                    avatarForm.submit();
                });
            </script>

<!--  -->
<%- include("partials/footer")%>