<%- include('partials/header')%>
<%- include("partials/nav")%>

<div class="flex items-center justify-center min-h-screen bg-[#222831]">
    <div class="flex flex-col w-[640px] justify-center items-center p-8 bg-[#393E46] rounded-lg shadow-lg">
        <h1 class="text-[#EEEEEE] text-4xl font-semibold mb-8"><%= title %></h1>

        <form action="/expense/update/<%= expense._id %>" method="post" class="flex flex-col justify-center w-full gap-6 text-[#EEEEEE]">

            <div class="grid grid-cols-2 gap-4 items-center">
                <label class="text-lg font-medium">Enter Title:</label>
                <input class="p-3 bg-transparent border border-gray-500 rounded" type="text" name="title" placeholder="Title" value="<%= expense.title %>">
            </div>

            <div class="grid grid-cols-2 gap-4 items-center">
                <label class="text-lg font-medium">Enter Amount:</label>
                <input class="p-3 bg-transparent border border-gray-500 rounded" type="number" name="amount" placeholder="Amount" value="<%= expense.amount %>">
            </div>

            <div class="grid grid-cols-2 gap-4 items-center">
                <label class="text-lg font-medium">Enter Category:</label>
                <input class="p-3 bg-transparent border border-gray-500 rounded" type="text" name="category" placeholder="Category" value="<%= expense.category %>">
            </div>

            <div class="grid grid-cols-2 gap-4 items-center">
                <label class="text-lg font-medium">Enter Remark:</label>
                <input class="p-3 bg-transparent border border-gray-500 rounded" type="text" name="remark" placeholder="Remark" value="<%= expense.remark %>">
            </div>

            <div class="grid grid-cols-2 gap-4 items-center">
                <label class="text-lg font-medium">Enter Payment Mode:</label>
                <select name="paymentmode" class="p-3 bg-[#393E46] text-[#EEEEEE] border border-gray-500 rounded appearance-none">
                    <option class="bg-[#393E46] text-[#EEEEEE]" value="UPI" <%= expense.paymentmode === 'UPI' ? 'selected' : '' %>>UPI</option>
                    <option class="bg-[#393E46] text-[#EEEEEE]" value="Cash" <%= expense.paymentmode === 'Cash' ? 'selected' : '' %>>Cash</option>
                    <option class="bg-[#393E46] text-[#EEEEEE]" value="Card" <%= expense.paymentmode === 'Card' ? 'selected' : '' %>>Card</option>
                    <option class="bg-[#393E46] text-[#EEEEEE]" value="Cheque" <%= expense.paymentmode === 'Cheque' ? 'selected' : '' %>>Cheque</option>
                </select>
            </div>

            <button class="p-3 bg-cyan-500 rounded-xl hover:bg-cyan-700 text-white text-lg font-semibold mt-6">
                Update Expense
            </button>

        </form>
    </div>
</div>

<%- include('partials/footer')%>
